# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

name: Run-Tests

on: [pull_request]

jobs:
  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: pip install tox
      - name: Run static analysis
        run: tox -vve static

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: pip install tox
      - name: Run Lint
        run: tox -e lint

  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: pip install tox
      - name: Run Unit Tests
        run: tox -e unit

  integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Operator Environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
      - name: Run Integration Tests
        run: tox -e integration
